@font-face {
    font-family: SocialIco;
    src: url("fonts/Socialico.ttf");
}

body {
    min-width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cccccc;
}

h1, ul, p, h2, h3 {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .container {
        padding: 0;
    }
}

header {
    background-color: #445162;
    padding: 50px;
}

.main-header {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}

.header-list {
    list-style: inside url("images/check_icon.png");
}

.header-list li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.header-img {
    width: 100%;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.about {
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .about {
      padding: 15px;
    }
  }

.about-header {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-image {
    width: 100%;
}

.about-description {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}

.about::after {
    content: "";
    clear: both;
    display: block;
}

.dignity {
    background-color: #f5f5f5;
    padding: 50px;
}

.dignity::after {
    content: "";
    clear: both;
    display: block;
}

.dignity-header {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.dignity-list {
    list-style: none;
    padding-left: 0;
}

.dignity-list li {
    /* float: left; */
    /* width: calc(100% - 8px); */
    background: url(images/plus_icon.gif) no-repeat left 5px;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: justify;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 35px;
}

.screenshots {
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .screenshots {
        padding: 15px;
    }
}

.screenshots::after {
    content: "";
    clear: both;
    display: block;
}

.screenshots-header {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;    
}

.screenshots-list {
    list-style: none;
    padding: 0;
}

.screenshots-item {
    margin-bottom: 30px;
}

.screenshots-image {
    float: left;
    padding-right: 15px;
}

.screenshots-item-header {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 5px;
}

.screenshots-description {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    background-color: #f5f5f5;
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .reviews {
        padding: 15px;
    }
}

.reviews::after {
    content: "";
    clear: both;
    display: block;
}

.reviews-header {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;  
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.reviews-item {
    /* float: left;
    width: calc(50% - 8px); */
    margin-bottom: 30px;
}

/* .reviews-item:nth-child(even) {
    margin-left: 8px;
}

.reviews-item:nth-child(odd) {
    margin-right: 8px;
} */

.reviews-image {
    float: left;
    border-radius: 50%;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .reviews-image {
        display: block;
        float: none;
        margin: 0 auto 15px auto;
    }
}

.reviews-comment {
    position: relative;
    /* float: right; */
    background-color: #ebebeb;
    /* width: 434px; */
    padding: 16px;
}

.reviews-comment::before {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    left: -10px;
    top: 27px;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .reviews-comment::before {
        top: -10px;
        left: calc(50% - 10px);
    }
}

.reviews-text {
    color: #333333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.reviews-author {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 7px;
}

.buy {
    padding: 50px;
}

 .buy-header {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;  
}

.buy-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media (min-width: 992px) {
    .buy-list {
        /* margin: 0 auto;
        padding: 0; */
        
        flex-direction: row;
        /* width: 990px; */
        justify-content: space-between;
        align-items: flex-end;
    }
}

.buy-item {
    border: 2px solid #445161;
    border-radius: 4px;
    background-color: #445161;
    padding-bottom: 20px;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .buy-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .buy-item:not(:last-child) {
        margin-right: 15px;
    }
}

.buy-item-header {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 17px;
}

.buy-item-price {
    text-align: center;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    padding: 18px;
    background-color: #ffffff;
}

.buy-item-list {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 19px;
    padding-right: 38px;
    list-style-position: inside;
}

.buy-item-button {
    display: block;
    background-color: #ffffff;
    text-align: center;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    width: 80%;
    padding: 14px;
    margin: 0 auto;
    border-radius: 4px;
}

footer {
    background-color: #445162;
    padding: 50px;
}

footer::after {
    content: "";
    clear: both;
    display: block;
}

.footer-header {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 31px;
}

.footer-content {
    /* width: 800px;
    margin: 0 auto; */
}

.footer-form {
    /* float: left; */
}

.footer-form input:not([type="submit"]), .footer-form textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 7px 5px;
    margin-bottom: 21px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
}

.footer-form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-align: center;
    color: #445161;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    display: block;
    margin: 0 auto;
    outline: none;
    text-transform: uppercase;
  }

.footer-contacts {
    /* float: right; */
}

.footer-contacts p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.footer-skype {
    background: url("images/skype_icon.png") no-repeat left center;
}

.footer-icq {
    background: url("images/icq_icon.png") no-repeat left center;
}

.footer-email {
    background: url("images/email_icon.png") no-repeat left center;
}

.footer-phone {
    background: url("images/phone_icon.png") no-repeat left center;
}

.footer-social-list {
    margin-top: 30px;
}

.footer-social-list a {
    color: #ffffff;
    font-family: Socialico;
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}